/ExpressionCalculator/nbproject/private/
/ExpressionCalculator/build/
/ChatApplication/nbproject/private/
/ChatApplication/build/
/Chat/dist/
/ExpressionSolverApplication/build/
/ExpressionSolverApplication/nbproject/private/
/MessagingApplication/build/
/ServerSide/nbproject/private/
